@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 200, 150, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 150px;
  z-index: 100;
  padding: 1rem 2rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
}

.header .logo img {
  height: 17rem;
}

.header nav ul {
  list-style-type: none;
  display: flex;
  align-items: right;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 1.5rem;
}

.header nav ul li a {
  font-size: 2.5rem;
  color: #666;
  text-decoration: none;
}

.header nav ul li a:hover {
  color: #000;
}

.header .fa-bars {
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
  display: none;
}

.container {
  width: 320px;
  min-height: 300px;
  padding: 2rem;
  background: rgba(255, 200, 150, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 8rem;
}

.container header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #444;
}

.input-group {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 1.3rem;
}

.input-group label {
  padding: 0 10px;
  font-size: 1.6rem;
  background: #f0f0f0;
  border-right: 1px solid #ddd;
}

.input-group input {
  flex: 1;
  height: 60px;
  font-size: 1.7rem;
  border: none;
  outline: none;
  padding: 0 15px;
}

.button {
  background: #ff914d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.7rem;
  transition: background 0.3s;
  height: 60px;
  width: 100%;
  outline: none;
}

.button:hover {
  background: #ff7300;
}